In [2]:
import pandas as pd

In [3]:
thread = pd.read_json("test.json")
thread.head()

,message,post_no,timestamp,user_id
0,\r\n\t\t\t\r\n\t\t\tI don't mean gold in river...,1,2016-02-04 08:54:00,42653
1,\r\n\t\t\t\r\n\t\t\tI don't personally unless ...,2,2016-02-04 08:58:00,15903
2,\r\n\t\t\t\r\n\t\t\tUsually I start off with g...,3,2016-02-04 08:59:00,39482
3,\r\n\t\t\t\r\n\t\t\tNow and then I will go out...,4,2016-02-04 09:08:00,8368
4,"\r\n\t\t\t\r\n\t\t\tBCD, it depends on where y...",5,2016-02-04 09:26:00,34409

In [7]:
thread.message = [s.strip() for s in thread.message]

In [8]:
thread.head()

,message,post_no,timestamp,user_id
0,"I don't mean gold in rivers, but actually take...",1,2016-02-04 08:54:00,42653
1,I don't personally unless I think it's a nicke...,2,2016-02-04 08:58:00,15903
2,Usually I start off with good intentions and a...,3,2016-02-04 08:59:00,39482
3,Now and then I will go out speciffically to di...,4,2016-02-04 09:08:00,8368
4,"BCD, it depends on where you're hunting. If a...",5,2016-02-04 09:26:00,34409

In [13]:
for i in range(5):
    print thread.message.iloc[i], '\n'

I don't mean gold in rivers, but actually take the time to dig PT signals to try to get gold jewelry.  It seems like it is a lot of kissing frogs to get gold and I just wondered who tries it vs ignoring those signals.

I don't personally unless I think it's a nickel. However, a guy in our club decided to dig every tone from 35 to 75 on his AT pro and he has found over 50 rings in the past few months. A few of them are gold as well. Pretty impressive but not for me.

Usually I start off with good intentions and after the first few hours or a 100  pull tabs, foil, and can laws later my detector somehow notches out everything below 80 and I cherry pick.

Now and then I will go out speciffically to dig possible gold targets and ignore all others but this so far hasnt resulted in anything but a pouch full of pulltabs , nickels and can slaw.....though if you want to find gold this is the way to do it. Most of the time I only dig a percentage of the possible gold signals , maybe every fourth or fifth one , this gives me still the chance of getting gold yet I dont spend the whole time digging trash and I usually wind up having enough time to nab a bunch of coins to show for my effort. I do want gold , but I have accepted that I may be passing some up.....atleast for now , since I will hunt that same area many times in the future.

BCD, it depends on where you're hunting.  If a person is at the beach (esp. after a storm when all the light stuff is washed out, leaving only heavy targets behind), then OF COURSE you dig PT signals

In [14]:
thread2 = pd.read_json("test2.json")
thread2.head()

,message,post_no,timestamp,user_id
0,"I don't mean gold in rivers, but actually take...",1,2016-02-04 08:54:00,42653
1,I don't personally unless I think it's a nicke...,2,2016-02-04 08:58:00,15903
2,Usually I start off with good intentions and a...,3,2016-02-04 08:59:00,39482
3,Now and then I will go out speciffically to di...,4,2016-02-04 09:08:00,8368
4,"BCD, it depends on where you're hunting. If a...",5,2016-02-04 09:26:00,34409

In [21]:
fullpages = pd.read_json('fullpages.json')
print len(fullpages)
fullpages.tail()

52

,message,post_no,timestamp,user_id
47,"As some have said, I start off digging everyth...",48,2016-02-05 15:47:00,32143
48,,49,2016-02-05 17:24:00,18768
49,I think gold is what everyone hopes to find wh...,50,2016-02-05 17:42:00,39340
50,,51,2016-02-05 17:43:00,32
51,,52,2016-02-05 17:44:00,18768

In [22]:
fullpages.message.iloc[-1]

u''

In [24]:
fpt = pd.read_json('fullpages_moreText.json')
print len(fpt)
fpt.tail()

52

,message,post_no,timestamp,user_id
47,"[\r\n\t\t\t\r\n\t\t\tAs some have said, I star...",48,2016-02-05 15:47:00,32143
48,"[\r\n\t\t\t\r\n\t\t\t, \r\n\r\nOriginally Post...",49,2016-02-05 17:24:00,18768
49,[\r\n\t\t\t\r\n\t\t\tI think gold is what ever...,50,2016-02-05 17:42:00,39340
50,"[\r\n\t\t\t\r\n\t\t\t, \r\n\r\nOriginally Post...",51,2016-02-05 17:43:00,32
51,"[\r\n\t\t\t\r\n\t\t\t, \r\n\r\nOriginally Post...",52,2016-02-05 17:44:00,18768

In [26]:
print ''.join(fpt.message.iloc[-1])

Originally Posted by Cfmct

View post

You don't have to Joe... just tell me where you hunt that you pass those tones and I will dig them up for you
Okay, it's in Jersey

In [3]:
blockquote = pd.read_json('blockQuotes.json')
print len(blockquote)
blockquote.tail()

54

,message,post_no,quotes,timestamp,user_id
49,[\r\n\t\t\t\r\n\t\t\tI think gold is what ever...,50,[],2016-02-05 17:42:00,39340
50,"[\r\n\t\t\t\r\n\t\t\t, joee5, View post, You d...",51,"[\r\n\r\nOriginally Posted by , \r\n\r\n, \r\n...",2016-02-05 17:43:00,32
51,"[\r\n\t\t\t\r\n\t\t\t, Cfmct, View post, Okay,...",52,"[\r\n\r\nOriginally Posted by , \r\n\r\n, \r\n...",2016-02-05 17:44:00,18768
52,[\r\n\t\t\t\r\n\t\t\tWe are a touch luckier he...,53,[],2016-02-06 01:28:00,40673
53,"[\r\n\t\t\t\r\n\t\t\t, Cfmct, View post, And I...",54,"[\r\n\r\nOriginally Posted by , \r\n\r\n, \r\n...",2016-02-06 05:20:00,18768

In [7]:
print '\n'.join(blockquote.message.iloc[4])

			BCD, it depends on where you're hunting.  If a person is at the beach (esp. after a storm when all the light stuff is washed out, leaving only heavy targets behind), then OF COURSE you dig PT signals




But I can think of some turf, especially blighted inner city parks, where your ratio of tabs/foil/aluminum to each gold ring would be HUNDREDS to one.  Simply not worth it.  If a person is that hot & bothered to find a gold ring, why doesn't he just go to a swimming  beach instead?  If you're inland, there are swim lakes, eh ?



And if there's utterly no swim beaches , or turf next to pools, etc.., then some *better* land locations are:



a) mud wrestle pits (after the drain out and rotate the mud).



b) sand volleyball courts



c) sand wrestle pits



d) ski lift lines (after the spring snow melt).  Because of the action of people pulling off their mittens while waiting in line.



e) certain types of athletic fields ASSUMING they do not have any sort of normal picnicking/eating going on.  Any time you have turf associated with picnicking, eating, drinking, is the minute your gold ring ratios take a dump.  Because go figure:  Eating means foil.  BBQ'ing mean molten foil and can nugget wads.  Drinking means tabs and cans.



So the LAST place you want to go be a hero looking for gold rings, is any place where BBQ type picnicking occurs (around picnic tables).

In [8]:
import pandas as pd
import pymongo
conn = pymongo.MongoClient()
db = conn.detectorists
posts_df = pd.DataFrame(list(db.post.find()))
threads_df = pd.DataFrame(list(db.thread.find()))
users_df = pd.DataFrame(list(db.user.find()))
conn.close()

users_df.head()

                        _id           last_modified  user_id       user_name
0  56b931688d8ffba6028367cf 2016-02-09 00:23:04.616    43120      Memphis212
1  56b931688d8ffba6028367d1 2016-02-09 00:35:51.830    26821    Detector Nut
2  56b931688d8ffba6028367d3 2016-02-09 00:40:06.149    24143        JWalker3
3  56b931688d8ffba6028367d5 2016-02-09 00:38:02.507    38944          Ricki7
4  56b931688d8ffba6028367d7 2016-02-09 00:40:06.173    39510  tnsharpshooter

In [9]:
posts_df.head()

,_id,last_modified,message,post_no,quotes,thread_id,timestamp,user_id
0,56b931688d8ffba6028367ce,2016-02-09 00:23:04.225,[\r\n\t\t\t\r\n\t\t\tHello all from NE Tenness...,1,[],226465,"02-06-2016, 08:01 PM",43120
1,56b931688d8ffba6028367d0,2016-02-09 00:23:04.565,"[\r\n\t\t\t\r\n\t\t\t, aboard!\r\n\t\t]",2,[],226465,"02-06-2016, 08:05 PM",26821
2,56b931688d8ffba6028367d2,2016-02-09 00:23:04.573,[\r\n\t\t\t\r\n\t\t\tWelcome to the forum from...,3,[],226465,"02-06-2016, 08:06 PM",24143
3,56b931688d8ffba6028367d4,2016-02-09 00:23:04.579,"[\r\n\t\t\t\r\n\t\t\tWelcome from Buffalo NY ,...",4,[],226465,"02-06-2016, 08:08 PM",38944
4,56b931688d8ffba6028367d6,2016-02-09 00:23:04.584,[\r\n\t\t\t\r\n\t\t\tWelcome\r\n\t\t],5,[],226465,"02-06-2016, 08:13 PM",39510

In [11]:
threads_df.head()

,_id,last_modified,thread_id,thread_name,thread_path
0,56b931688d8ffba6028367f3,2016-02-09 00:23:10.254,226465,New from TN,"[Friendly Metal Detecting Forums, Metal Detect..."
1,56b931688d8ffba602836818,2016-02-09 00:23:29.599,204403,Results - FMDF Gift Exchange 2014,"[Friendly Metal Detecting Forums, Other Forums..."
2,56b931698d8ffba60283683d,2016-02-09 00:23:19.211,219640,How many pull tabs before I find gold? Ends 12...,"[Friendly Metal Detecting Forums, Other Forums..."
3,56b931698d8ffba602836852,2016-02-09 00:23:05.774,225609,1st pull,"[Friendly Metal Detecting Forums, Other Forums..."
4,56b9316a8d8ffba602836869,2016-02-09 00:23:54.206,107225,Link to my Blog,"[Friendly Metal Detecting Forums, Other Forums..."

In [10]:
print len(posts_df)
print len(users_df)
print len(threads_df)

22110
3538
563